
<div id="login-page" class="row">
    <div class="card blue-grey darken-4">
        <div class="card-content white-text">
            <div class="row">
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mail_outline</i>
                    <input id="username" type="text" name="username" ng-model="vm.user.username">
                    <label for="username">Usuario</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="password" type="password" name="password" ng-model="vm.user.password">
                    <label for="password">Contraseña</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light col s12" type="button" ng-click="vm.login()">Login</button>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <p class="margin medium-small"><a href="#">REGISTRARSE</a></p>
                </div>

            </div>

        </form>
    </div>
</div>